<div class="row text-center">
    <h2 style="padding-bottom: 15px;">Diana Bradley</h2>
    <img class="img-responsive center" style="border-radius: 30px; margin-bottom: 20px;" src="/modules/core/img/people/DianaBradleyDL.png"/>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Education</h4></div>
    <div class="panel-body">
        <ul>
            <li>
                <p>University of Utah S.J. Quinney College of Law, 2010 - 2013</p>
                <p>Salt Lake City, UT</p>
                <p>W.H. Leary Scholar</p>
                <p>Editor-in-Chief, Utah Environmental Law Review</p>
                <p>Vice President, Student Bar Association</p>
                <p>Certificate of Service for completing 50+ hours of Pro Bono Service</p>
            </li>
            <li>
                <p>University of Oregon, 1998 - 2002</p>
                <p>Eugene, OR</p>
                <p>B.S., Biology</p>
                <p>Minors in Chemistry and Philosophy</p>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Background</h4></div>
    <div class="panel-body">
        <ul>
            <li>
                Myriad Genetics | Salt Lake City, UT
                Law Clerk
                2011 – 2014
            </li>
            <li>
                Zimmerman Jones Booher | Salt Lake City, UT
                Extern
                2013
            </li>
            <li>
                Utah Criminal Justice Center | Salt Lake City, UT
                Research Assistant
                2013
            </li>
            <li>
                Workman Nydegger | Salt Lake City, UT
                Summer Associate
                Summer 2012
            </li>
            <li>
                Utah Supreme Court, Chief Justice Christine Durham | Salt Lake City, UT
                Judicial Intern
                2011 – 2012
            </li>
            <li>
                Huntsman Cancer Institute | Salt Lake City, UT
                Research Associate
                2006 – 2010
            </li>
            <li>
                University of Vermont | Burlington, VT
                Research Assistant
                2005 – 2006
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Scholarship</h4></div>
    <div class="panel-body">
        <ul>
            <li>
                Robert Butters, Audrey Hickert, Erin Worwood, Diana Bradley and Kort Prince, EVALUATION OF EARLY CASE RESOLUTION: YEAR TWO REPORT
                March 2014
            </li>
            <li>
                Utah Environmental Law Review
                Editor in Chief, Volume 33, No. 1
                Acting Editor in Chief and Editorial Staff, Volume 32, No. 2
                Editorial Staff, Volume 32, No. 1
            </li>
            <li>
                Expression of Coagulation-Related Protein Genes During LPS-Induced Preterm Delivery in the Pregnant Mouse Phillippe M, Diamond AK, Sweet LM, Oppenheimer KH, Bradley DF. Reproductive Sciences 2011 Nov;18(11):1071-9
            </li>
            <li>
                Shared Acquired Genomic Changes in Zebrafish and Human T-ALL Rudner LA, Brown KH, Dobrinski KP, Bradley DF, et al. Oncogene. 2011 Oct 13;30(41):4289-96
            </li>
            <li>
                Characterization of the Zebrafish T Cell Receptor Beta Locus Meeker ND, Smith AC, Frazer JK, Bradley DF, et al. Immunogenetics. 2010 Jan;62(1):23-9
            </li>
            <li>
                Heritable T-cell Malignancy Models Established in a Zebrafish Phenotypic Screen. Frazer JK, Meeker ND, Rudner L, Bradley DF, et al. Leukemia. 2009 Oct;23(10):1825-35
            </li>
            <li>
                Role of Nonreceptor Protein Tyrosine Kinases During Phospholipase C-Gamma 1-Related Uterine Contractions in the Rat. Phillippe M, Sweet LM, Bradley DF, Engle D. Reproductive Sciences 2009 Mar;16(3):265-73
            </li>
            <li>
                Modulation of Monocyte Chemotactic Protein-1 Expression During Lipopolysaccharide-Induced Preterm Delivery in the Pregnant Mouse. Diamond AK, Sweet LM, Oppenheimer KH, Bradley DF, Phillippe M. Reproductive Sciences 2007 Sep;14(6):548-59
            </li>
            <li>
                Tissue Prothrombinase Activity in Myometrium From Timed-Pregnant Rats. Phillippe M, Bradley DF, Phillippe K, Engle D. Journal of the Society for Gynecological Investigation 2006 Oct;13(7):477-82
            </li>
            <li>
                Phospholipid Scramblase Isoform Expression in Pregnant Rat Uterus. Phillippe M, Bradley DF, Ji H, Oppenheimer KH, Chien EK. Journal of the Society for Gynecological Investigation 2006 Oct;13(7):497-501. Epub 2006 Sep 15
            </li>
            <li>
                SHP Protein Tyrosine Phosphatase Expression in Rat Uterine Tissue. Phillippe M, Bradley DF, Engle D, Sweet L. Journal of the Society for Gynecological Investigation 2006 Jul;13(5):338-42
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4>Other</h4></div>
    <div class="panel-body">
        <ul>
            <li>
                Tree Utah, Board Member, 2014 – Present
            </li>
            <li>
                Young Lawyers Division of the Utah Bar Association, Board Member, 2014 – Present
            </li>
            <li>
                ACLU of Utah, Volunteer Law Clerk, 2013
            </li>
            <li>
                Pro Bono Initiative Family Law and Street Law Clinics, Volunteer, 2011- 2013
            </li>
        </ul>
    </div>
</div>

<div class="row badges">
    <div class="col-md-2">
        <div id="super_lawyers_badge" style="margin:0; padding:0; line-height:1; font-size:1em; font:50 0.8em/1em 'Arial',sans-serif; position:relative; outline:none; border:none;">
            <div id="sl_badge_container_lg_white" style="height:175px; width:180px; background-image:url('http://i.superlawyers.com/shared/badge/Big-Badge-No-Text-White.png'); text-align:left; outline:none; border:0; background-repeat:no-repeat; line-height:1; font-size:50%">
                <table width="120px" border="0" cellpadding="0" cellspacing="0" frame="void" rules="none" summary="" dir="ltr" style="width:150px; margin: 0; padding:0; line-height: 1; font-size:50%; outline:none; border:none; box-shadow:none;">
                    <tbody><tr align="center" char="" charoff="" valign="bottom" style="vertical-align:bottom; margin:0; padding:0; line-height:1; font-size:50%; outline:none; border:none; background: none repeat scroll 0 0 transparent; text-align:center;"><td align="center" colspan="1" rowspan="1" valign="bottom" style="margin:0; padding:0; line-height:1; font-size:50%; outline:none; border:none; text-align:center;"><img src="http://i.superlawyers.com/shared/badge/Big-Badge-White-Logo.png" border="0" alt="Super Lawyers" style="border:0px solid rgb(255,255,255); margin:0; padding:7px 0px 0px 0px; line-height: 1; font-size: 50%; outline:none;"></td></tr>
                    <tr align="center" char="" charoff="" valign="middle" style="margin:0; padding:0; line-height:1; font-size:50%; outline:none; border:none; background: none repeat scroll 0 0 transparent; text-align:center;"><td style="height:54px; vertical-align:middle; margin:0; padding:0 10px; line-height:1; font-size:100%; outline:none; border:none; text-align:center;" valign="middle" align="center" colspan="1" rowspan="1"><a href="http://www.superlawyers.com/redir?r=http://www.superlawyers.com/utah/lawyer/Andrew-G-Deiss/0207c805-8a6b-4c86-9fbc-a6e3a3394d27.html&amp;c=180_white_badge&amp;i=0207c805-8a6b-4c86-9fbc-a6e3a3394d27" title="View the profile of Utah Business Litigation Attorney Andrew G. Deiss" style="text-decoration:none; margin:0; padding:0; line-height:1; text-align:center; font-family:arial,sans-serif; color:rgb(255,145,0); font-size:15px; font-weight:bold; outline:none; border:none; text-shadow:none; text-align:center;">Andrew G. Deiss</a></td></tr>
                    <tr align="center" char="" charoff="" valign="bottom" style="margin:0; padding:0; line-height:1; font-size:100%; outline:none; border:none; background: none repeat scroll 0 0 transparent; text-align:center;"><td style="height:26px; vertical-align:bottom; margin:0; padding:0; line-height:1; font-size:100%; outline:none; border:none;text-align:center;" valign="bottom" align="center" colspan="1" rowspan="1"><a href="http://www.superlawyers.com/redir?r=http://www.superlawyers.com&amp;c=180_white_badge&amp;i=home_page" title="Visit the official website of Super Lawyers" style="text-decoration:none; margin:0; padding:0; line-height:1; font-size:100%; outline:none; border:none; text-align:center;"><span id="sl_visit_white" style="font-family:arial,sans-serif; color:rgb(255,255,255); font-size:14px; margin:0; padding:0; line-height:1; outline:none; border:none; text-shadow:none;">visit superlawyers.com</span></a></td></tr>
                    </tbody></table></div></div>
    </div>
    <div class="col-md-2">
        <a href="http://www.bestlawyers.com/firms/deiss-law-pc/61623/US/" target="_blank"><img src="http://www.deisslaw.com/website/wp-content/uploads/2014/12/2015_BLF_Silver_Standard-e1418239258127.jpg" alt="" width="150" height="140" border="0" class="alignnone" title="DeissBestLawyers1"></a>
    </div>
    <div class="col-md-2">
        <a href="http://www.bestlawyers.com/firms/deiss-law-pc/61623/US/" target="_blank"><img src="http://www.deisslaw.com/website/wp-content/uploads/2014/05/Andrew_Deiss_Best_Lawyer-e1417037639206.jpg" alt="" width="150" height="69" border="0" class="alignnone size-full wp-image-500" title="DeissBestLawyers1"></a>
    </div>
    <div class="col-md-2">
        <a href="http://www.martindale.com/Results.aspx?ft=1&amp;frm=freesearch&amp;afs=Andrew%20Deiss" target="_blank"><img src="http://69.195.124.66/~deisslaw/website/wp-content/uploads/2012/11/DeissAV1.jpg" alt="" width="150" height="69" border="0" class="alignnone size-full wp-image-725" title="DeissAV1"></a>
    </div>
    <div class="col-md-2">
        <iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://www.avvo.com/professional_badges/4456694?aw_w=157&amp;aw_h=132&amp;ab_s=130&amp;ab_t=rating&amp;ab_v=1" style="border: none; overflow: hidden; width: 157px; height: 132px;"></iframe>
    </div>
    <div class="col-md-2">
        <a href="http://www.litcounsel.org/directory.php?state=UT&amp;ppractice=&amp;Submit=SEARCH" target="_blank"><img src="http://www.deisslaw.com/website/wp-content/uploads/2014/05/Andy_Top_100-e1418239614617.jpg" width="150" height="140" class="alignnone/> size-full wp-image-727" <="" a="">
        </a>
    </div>
</div>